@model PlanFeatureViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Pricing</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="row">

                @foreach (Plan plan in Model.Plans)
                {
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 @(plan.IsFeatured?"featured":"")">
                        <div class="box">
                            <span class="@(plan.IsAdvanced?"advanced":"d-none")">Advanced</span>
                            <h3>@plan.Name</h3>
                            <h4><sup>$</sup>@plan.Price<span> / month</span></h4>
                            <ul>
                                @foreach (FeatureItem feature in Model.FeatureItems)
                                {
                                    if (plan.PlanFeatures.Exists(p => p.FeatureItems.Id == feature.Id))
                                    {
                                        <li>@feature.Name</li>
                                    }
                                    else
                                    {
                                        <li class="na"><i class="na"></i> <span>@feature.Name</span></li>
                                    }
                                }

                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section><!-- End Pricing Section -->

</main><!-- End #main -->
